.videoSidebar {
    padding: 20px;
    position: absolute;
    top: 50%;
    right: 10px;
    color: white;
}

.videoSidebar__options {
    margin-bottom: 40px;
    text-align: center;
    cursor: pointer;
}

@media only screen and (max-width: 440px){
    .videoSidebar {
        top: 46%;
    }
  }